---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$iron: #581845;
$dorian: #FF5733;
$cloudy: #FFC300;

@import
    "mixins",
    "default",
    "404"
;
